.playwrite-font-title {
  font-family: "Playwrite SK", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.playwrite-font-text {
  font-family: "Playwrite SK", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.background-loading {
  transition: background 1s ease-in-out;
}

.background-loading-20-percent {
  background: linear-gradient(90deg, #FFFFFF 20%, #000000 20%);
}

.background-loading-40-percent {
  background: linear-gradient(90deg, #FFFFFF 40%, #000000 40%);
}

.background-loading-60-percent {
  background: linear-gradient(90deg, #FFFFFF 60%, #000000 60%);
}

.background-loading-80-percent {
  background: linear-gradient(90deg, #FFFFFF 80%, #000000 80%);
}

.background-loading-100-percent {
  background: linear-gradient(90deg, #FFFFFF 100%, #000000 100%);
}
